# MongoDB configuration
DB_URI=
PORT=

# Bcrypt configuration
SALT_ROUNDS=

# JWT configuration
ENCRYPTION_KEY=
JWT_SECRET=
JWT_EXPIRATION=

# Email configuration
ADMIN_EMAIL=
SYSTEM_HOST=
SUPPORT_EMAIL=

# Zustandskonfiguration sobald man VERIFYING=true werden alle captchas und emails verifizierungen losgeschickt
VERIFYING=
PRODUCTION=

SECURE_KEY=

# Google reCAPTCHA v3
SITE_KEY=
CAPTCHA_SECRET_KEY=

SEND_GRID_APIKEY=

# Cloudinary configuration
CLOUDINARY_URL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
